<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Inventory Out of Stock Notification</h3>
          <p>Dear <%= @user.name %>,</p>
          <p>We wanted to let you know that the inventory for your item, <%= @item.title %>, is currently out of stock.</p>
          <p>Make sure to order more!</p>
          <p>Thank you for your understanding.</p>
          <p>Best regards,</p>
          <p>InvenTrack Team.</p>
        </div>
      </div>
    </div>
  </div>
</div>
