<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 text-center">
      <h1 class="display-4 mb-3">Welcome to InvenTrack</h1>
      <p class="lead mb-5">InvenTrack is a web application for managing your inventory.</p>
      <%= link_to "Get Started", signup_path, class:"btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
